/* Slideshow container */
.slideshow-container {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 100%;
  height: 500px; /* Adjust the height as needed */
  margin: 0 auto;
  overflow: hidden;
  position: relative;
  padding-top: 10px;
}

.mySlides {
  display: none;
  width: auto;
  height: auto;
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
}

.mySlides img {
  display: block;
  margin: 0 auto; /* Center the images horizontally */
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
}



/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: auto;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 3px;
  user-select: none;
}

/* Position the "previous button" to the left */
.prev {
  left: 0;
  border-radius: 1px 0 0 1px;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 1px 0 0 1px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(13, 13, 13, 0.292);
}


@media screen and (max-width: 450px) {
  .slideshow-container {
    display: none;
  }

}
