
#musicosMain {
    height: 100px;
    width: 80px;
}

#musicoslista {
    display: flex;
    align-items: center;
    margin: 10px;
    padding: 10px;
    font-size: 20px;
    font-family: sans-serif;
    color: #333;
}


#mainImages {
    height: 500px;
    width: 400px;
}

#musicostudo{
    /*background-color: #f9fbf9;
    color: #152a30; */
    font-family: Arial, sans-serif;
    margin: 10px;
    padding: 0;
    display: flex;
    flex-direction: column;
}
